html {
  box-sizing: border-box;
  background-color:;
  font-family:"Lato", sans-serif;;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display:;
  color:#;
  text-decoration: none;
  padding:;
  background-color: #;
  border-radius: ;
}

a:hover {
  color:#;
  background-color:#;
}
