html {
  box-sizing: border-box;
  background-color:#f2f2f2;
  font-family:"Lato", sans-serif;;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  text-align: center;
}

h1 {
  display: block;
}

div {
  text-align: left;
}

a {
  display:inline-block;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding:;
  border-radius: ;
}

a:hover {
  color:#fff;
  background-color:#a1a1a1;
}
